<div class="maindiv">


<h1>
  <u>Bootstrap Styles</u> <br>
</h1>

<div  id="div1" class="">

  <div class="rectdiv btn-group-vertical">

  
    <p> Buttons</p>

    <button type="button" class="btn btn-primary btn-lg">Apple Large button</button>

    <button type="button" class="btn btn-primary btn-md">Primary Medium buttoon</button>

    <button type="submit" class="btn btn-warning btn-sm">Warning small button</button>

    <button type = "button" class="btn btn-danger"> Danger</button>

    <button type = "button" class="btn btn-link">Link button</button>

     
  </div><br>

  <div  id="Input">
    <p>Input Text</p>

    <input type="text" class="form-control input-lg" value="Large">

    <input type="text" class="form-control input-sm" value="Small">

    <input type="text" class="form-control">

    <input type="text" class="form-control">

    <input type="text" class="form-control">

  </div>

  <div class="container">
      <h2>Tabs</h2>
      <p>The .nav-tabs class is used to create navigation tabs:</p>                  
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">About</a></li>        
      </ul>
    </div>
    
   
</div>

<div>

</div>

<div  id="div2" class="">
    
    </div>



 </div>
